# Sphinx files
docs/build

# Coverage reports
.coverage
htmlcov

# Python side-effects
build
dist
*.egg-info
*.pyc
__pycache__

\#*
.#*
private_*
.~lock*

# A file to write TODOs related to this project
TODO
README_scratches.md
SPECIFICATIONS.*
