# From: https://rohitgupta.xyz/blog/keeping-python-code-clean-with-pre-commit-hooks-black-flake8-and-isort/

repos:
-   repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
    - id: seed-isort-config
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
    - id: isort
-   repo: https://github.com/hadialqattan/pycln
    rev: v2.1.1
    hooks:
    - id: pycln
-   repo: https://github.com/ambv/black
    rev: 22.8.0
    hooks:
    - id: black
      language_version: python3.10
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    - id: flake8
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971  # Use the sha / tag you want to point at
    hooks:
    - id: mypy
-   repo: https://github.com/pre-commit/pre-commit-hooks 
    rev: v4.3.0  # Use the sha / tag you want to point at
    hooks:
    - id: debug-statements
-   repo: local
    hooks:
    - id: spellcheck
      name: spellcheck
      entry: ./.spellcheck.sh
      language: system
      types_or: [python, markdown]